<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>First Template Page</title>
</head>
<body style="background-color: bisque;">
    <h1 style="display: flex; justify-content: center;">Exploring Lucknow</h1>
    <p>Lucknow has always been a multicultural city that flourished as a North Indian cultural and artistic hub, and the seat of power of Nawabs in the 18th and 19th centuries.</p>
    <div class="container-lg my-3">
        <div id="carouselExample" class="carousel blink" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://media.gettyimages.com/id/500437021/photo/looking-back-towards-gateway-of-bara-imambara.jpg?s=1024x1024&w=gi&k=20&c=U3p6wJbbwaC7UlullP0V6gAmnaNr4JYxzFvqBESBfOg=" width="900" height="425" class="d-block w-100" alt="Image 1">
            
            </div>
            <div class="carousel-item">
              <img src="https://media.gettyimages.com/id/975149132/photo/chota-imambara.jpg?s=612x612&w=gi&k=20&c=fxDXmJwH1_h7zlY02jOAPEq3i9AhxOzbIjlWP0ehAPM=" width="900" height="425" class="d-block w-100" alt="Image 2">
            
            </div>
            <div class="carousel-item">
              <img src="https://media.gettyimages.com/id/1303573696/photo/bridge-over-gomti-river-with-clock-tower-in-distance-lucknow-uttar-pradesh-india-asia.jpg?s=612x612&w=gi&k=20&c=YwN2vnkkxsyBRM2t7HIs-k9MiFyyhxdI7RrGTv9DO2A=" width="900" height="425" class="d-block w-100" alt="Image 3">
            
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
    </div>
    <div class="m-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
        <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm57Ji5jGwh6J06WlPhamm0FOEMUY-7eRZ3v-xOAnWtg&s" width="416px" height="250px" class="card-imgtop" alt="...">
        <div class="card-body">
        <h4 class="card-title">Narendra Damodar Das Modi</h4>
        <h5>Prime Minister Of India</h5>
        <p class="card-text">Lucknow is about happiness, nature and tourism, but today I will say that lucknow means a new model of development.</p>
        <a href="https://en.wikipedia.org/wiki/Narendra_Modi" class="btn btn-primary">Read More</a>
      </div>
        <div class="card-footer">
        <small class="text-muted">Last updated 5 mins ago</small>
        </div>
        </div>
        </div>
        <div class="col">
          <div class="card">
          <img src="https://pbs.twimg.com/profile_images/1570349833277546497/I-SK-za7_400x400.jpg" width="416px" height="250px" class="card-imgtop" alt="...">
          <div class="card-body">
          <h4 class="card-title">Amit Shah</h4>
          <h5>Home Minister Of India</h5>
          <p class="card-text">Lucknow has maintained steady progress while remaining rooted in its vibrant and diverse culture. May the city continue to prosper in the years to ...</p>
          <a href="https://en.wikipedia.org/wiki/Amit_Shah" class="btn btn-primary">Read More</a>
        </div>
          <div class="card-footer">
          <small class="text-muted">Last updated 5 mins ago</small>
          </div>
          </div>
          </div>
          <div class="col">
            <div class="card">
            <img src="https://www.imageshine.in/uploads/gallery/yogi-adityanath-png-image-free-download.png" width="416px" height="250px" class="card-imgtop" alt="...">
            <div class="card-body">
            <h4 class="card-title">Yogi Adityanath</h4>
            <h5>Chief Minister Of Uttar Pradesh</h5>
            <p class="card-text">The prime location of Lucknow offer exciting activities for thrill-seekers which include exploring the old monuments and misterious places of Palace.</p>
            <a href="https://en.wikipedia.org/wiki/Yogi_Adityanath" class="btn btn-primary">Read More</a>
          </div>
            <div class="card-footer">
            <small class="text-muted">Last updated 5 mins ago</small>
            </div>
            </div>
            
        
           
</body>
</html>